*,
*::after,
*::before {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.gameboard-one,
.gameboard-two {
  display: grid;
  grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
}

.board-square {
  background-color: skyblue;
  width: 3rem;
  height: 3rem;
  border: 1px;
  border-style: solid;
}

.board-boat {
  background-color: gray;
}

.board-miss {
  background-color: white;
}

.board-hit {
  background-color: red;
}
