*,
*::after,
*::before {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.gameboard-one,
.gameboard-two {
  display: grid;
  grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
}

.board-square {
  background-color: skyblue;
  width: 3rem;
  height: 3rem;
  border: 1px;
  border-style: solid;
}

.Submarine {
  background-color: gray;
}

.Battleship {
  background-color: black;
}
.Carrier {
  background-color: beige;
}
.Cruiser {
  background-color: cadetblue;
}
.Destroyer {
  background-color: burlywood;
}

.board-miss {
  background-color: white;
}

.board-hit {
  background-color: red;
}

.btn-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.btn {
  padding: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.hide {
  display: none;
}
